 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
:root{
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: #05b4ff;
  transition: 1.5s ease-in-out;
}
.white-theme{
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: #05b4ff;
}
.dark-theme {
  --bg-color: #f3f3f3f3;
  --second-bg-color: #e4e4e4;
  --text-color: #2a2a2a;
  --second-color:  #202020;
  --main-color: #05b4ff;
}

body {
  box-sizing: border-box;
  background: var(--bg-color);
  color: var(--text-color);
  transition: 1.2s ease-in;
}


/* navbar-section */
.header{
  height: 70px;
  padding: 1rem;
  margin:0 ;
  font-weight: bold;
  font-size: medium;
  background-color: var(--bg-color);  
  position: fixed;
  top: 0;
  transition: all .45s ease;
  width: 100%;
  padding: 0 10%; 
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);
  z-index: 1;
    
}


span{
  color:var(--main-color);
}


.navbar-nav{
  margin-left: auto;
  color:var(--text-color);
  
 }
 .navbar-brand{
  font-size: 2rem;

 }
 .navbar-toggler{
  background-color:var(--main-color);

 }
 .navbar-toggler-icon{
  color: aqua;
  background-color: var(--main-color);
 }
 .navbar-brand{
 
 color: #fff;
  
 }

 .navbar-nav a{
  color: #ccc;

 }
 .nav-item .current{
  color: var(--main-color) ;
 }
 .nav-item a:hover {
  color: var(--main-color);
 }

 /* toggle */
 .toggle{
  top: 5vh;
  right: 95vw;
  z-index: 2;
 }
 .input {
  visibility: hidden;
}

.label {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: lightgray;
  border-radius: 20px;
  cursor: pointer;
}

.circle {
  width: 14px;
  background-color: var(--bg-color);
  height: 14px;
  border-radius: 50%;
  top: 3px;
  position: absolute;
  left: 3px;
  animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label {
  background-color: white;
}

.input:checked + .label .circle {
  animation: toggleOn 0.4s linear forwards;
  background-color: grey;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}



/* home-section */

.home{
  position: relative;  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10%;
  margin: 200px 0 0 0;


}
.home-text{
  margin-top: 0%;
}
.one {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 15px;
  line-height: 32px;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--text-color);
}

.two {
  display: inline-block;
  color: var(--second-color);
  font-size: 30px;
  font-weight: 500;
}

.slide {
  margin-bottom: 20px;
}

.home-text h1 {
  font-size:5rem;
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.1;
  margin: 0 0 8px;

}

.home-text h3 {
  color: var(--text-color);
  margin: 0 0 35px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}

.home-text p {
  color: var(--second-color);
  line-height: 1.8;
  margin-bottom: 40px;
}
.button-1 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-1 {
  display: inline-block;
  padding: 12px;
  background: var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all .45s ease;
  text-decoration: none;
}

.btn-1:hover {
  transform: scale(0.9);
}

/* about-me section */
.about{
  width: 80%;
  display: inline-block;
  margin: 10% 10%;
}


.about-img img {
  width:100%;
  height: 70vh;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  object-fit: cover;
  
}

.about-text h2{
  font-size: 3rem;
}

.about-text p{
  padding-top: 30px;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  margin-bottom: 1.5rem;
  text-wrap:wrap ;
  line-height: 2;
}

/* My service section */
.services{
  background: var(--second-bg-color);

}

.main-text{
  text-align:center;
  padding-top: 5%;
 
}

.services-content{
display: flex;
justify-content: space-evenly;
justify-content: center;

margin: 0 10%;
padding-top: 2rem;
flex-wrap: wrap;

}


.box {
  display: flex;
  align-items: first baseline;
  flex-wrap: wrap;
  transition: all .45s ease;  
  margin: 0 2rem 1rem 2rem;
  width:200px;
  border: none;

}

.box img{
  width: 200px;
  height: 200px;
  object-position: center;
  object-fit: cover;
  border-radius: 20px;
  backdrop-filter:blur (2px) ;
  margin-bottom: 1rem;
  
}


.box h3 {

  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}

.box p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}
.box:hover{
  transform:translateY(-10px);
  cursor: pointer;

}
/* skills section */

#skill{
  width: 80%;
  margin:10%;
}

.skill-title{
  text-align: center;
  padding: 5%;
  font-size: 500px;
  flex-grow: 1;
}
.skill-container{
  display: flex;
  flex-wrap: wrap;

}

.skill-set{
  flex-grow: 1;
  flex-wrap: wrap;
  background-color: var(--second-bg-color);
  border: none;
  border-radius: 10px;  
  transform: 10ms ease;
  height:fit-content;
 
}

.skill-set-1 .wrapper img{
  height: 200px;
  width: 150px;
  margin:0 30px;
 
}
.skill-set-1{
  position: relative;
  margin: 5% 10% 1px 10%;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--second-text);
  border-radius: 5%;
}
.skill-set-1::before{
  position: absolute;
  background: linear-gradient(to left, rgba(255, 255, 255, 0),var(--second-bg-color));
  top: 0;
  left: 0;
  z-index: 2;
  width: 100px;
  height: 100%;
  content: '';
}
.skill-set-1::after{
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--second-bg-color));
  right: 0;
  z-index: 2;
  width: 100px;
  height: 100%;
  content: '';
}
.wrapper{
  display: inline-block;
  animation: 50s scroll infinite linear;
  
 }

.skill-set-1:hover .wrapper{
  animation-play-state: paused;
  
}
@keyframes scroll{
  from{
   transform: translate(0);
  }
  to{
   transform: translate(-100%);
  }
   
 }
.img-holder{
  width:100px;
  margin: auto;
}
.img-holder img{
  max-width: 100%; 
  height: 80%;
  background: #ccc;
  border-radius: 50%;
  
}

.skill-text{
  text-align:center;
  padding:5px;
  height: fit-content;
  background-color:var(--main-color) ;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);


}
.skill-set-2{
margin: 1rem ;
margin: 5% 10% 1px 10%;


}
.skill-info{
  margin-top: 10%;
  text-align: center;
  line-height: 2;
  padding: 10px;

}
.skill-info h4{
  padding-bottom: 2rem;
  color:var(--text-color);
}

.skill-info li{
  text-decoration: solid;
  font-size: medium;
  font-weight: lighter;
    color:var(--text-color);
}

.skills-holder,li{
  margin: 10px 0;
  padding: 15px ;
}


 .bar{
  background: black;
  display:block;
  height:20px;
  margin-bottom:10px ;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px  3px  rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8,.25,.1);
 } 

.bar:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 46%, #05b4ff 100%);
}

.html{
  width: 90%;
  animation: html 3s;
}
.css{
  width: 85%;
  animation: css 4s;
}
.bootstrap{
  width: 90%;
  animation: bootstrap 5s;
}
.javascript{
  width: 70%;
  animation: javascript 6s;
}
.react{
  width: 60%;
  animation: react 7s;
}
.typescript{
  width: 50%;
  animation: typescript 8s;
}
.git{
  width: 75%;
  animation: git 9s;
}
@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes css{
  0%{
    width: 0%;
    }
    100%{
      width: 85%;
    }
}
@keyframes bootstrap{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
  
}
@keyframes javascript{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}
  @keyframes react{
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
}
@keyframes typescript{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}
@keyframes git{
  0%{
    width: 0%;
  }
  100%{
    width: 75%;
  }
}

/* contact section */

.contact {
  background: var(--second-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  padding:10%;
}

.contact-text h4 {
  color: var(--text-color);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}

.contact-text h2 {
  font-size: 3.5rem;
  line-height: 1;
}

.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}

.list {
  margin-bottom: 2.8rem;

}

.list li {
  margin-bottom: 12px;

}

.list li a {
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all .45s ease;
  text-decoration: none;
}

.list li a:hover {
  color: var(--text-color);
  transform: translateY(5px);

}

.contact-icons i {
  height: 45px;
  width: 45px;
  color: var(--text-color);
  font-size: 22px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all .45s ease;
}

.contact-icons i:hover {
  color: var(--main-color);
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form textarea {
  resize: none;
  height: 240px;
}

.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  background: var(--main-color);
  color: var(--text-color);
  width: 160px;
  transition: all .45s ease;
}

.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* footer */
footer {
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: var(--bg-color);
}

.last-text p {
  color: var(--second-color);
  font-size: 14px;

}

.top i {
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--second-bg-color);
  background: var(--main-color);
}

/* animation section  */

.hidden{
  opacity: 0; 
  filter:blur(5px);
   transform:scale(0.7);
  transition: all 0.5s;

}
.show{
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
/*media query for small screen */
@media (max-width: 1200px){
.header{
  position: relative;

}
.home{
  margin-top: 3rem;

}
  
li{
  margin: 0;
  padding: 0;
}

}
@media (max-width:700px){
  .home{
    margin-top: 6rem;
  
  }
  .header{
    height: fit-content;
    position: fixed;
    top: 0;
  }
    
  #contact{
    display: flex;
    flex-direction: column;
  }
  

  
 li{
  margin: 0;
  padding: 0;

}
.box:nth-child(2), .box:nth-child(3) {
 margin-top:10px ;

}


.skill-set-1 .wrapper img{
  height: 60px;
  width: 60px;
  margin:0 10px;
 
}
.skill-set-1::before{
  width: 20px;   
}
.client::after{
  width: 20px;
}

}
